.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    //shape-outside hara que el el contenido se adapte a la forma del elemento flotante(requiere de float width, height)
    // con clippath ya creamos la forma circular
    &__shape {
        width:15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translate(-3rem) skewX(12deg);
    }

    &__img {
        height: 100%;
    }

    &__text {
        transform: skewX(12deg);
    }
}