// Archivo para las cosas basicas del DOM y es parcial(por eso empieza por '_' para luego importarlo al sass principal
// Estructura 7 - 1
// lo importaremos en main como @import 'base/base';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond-phone {
    font-size: 50%;
  }

  @include respond(tab-land) {
    // width <1200?
    // 1rem = 9p, 9/16 = 56.25%
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // width < 900?
    //1rem = 8p, 8/16 = 50%
    font-size: 50%;
  }

  @include respond(big-dektop) {
    // 1 rem= 12, 12/16 = 75%
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
